@import './fonts.scss';

body{
    background-color: #B7BABE;
    margin: 0;
    padding: 0;
    .wrapper{

        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid black;

            div:nth-child(1){
                display: flex;
                justify-content: center;
                height: 90px;
                margin-top: -25px;

                >p{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 49px;
                    color: #191B1D;
                    
                    >span{
                        color: white;
                    }
                }
            }

            div:nth-child(2){
                margin: -75px 0 0px 0;

                >h1{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 84px;
                    line-height: 115px;
                    text-align: center;
                }
            }

            div:nth-child(3){
                margin-top: -60px;

                >p{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 38px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }

        main{
            display: flex;
            flex-direction: column;

            section:nth-child(1){
                display: flex;
                height: 735px;
                border-bottom: 1px solid black;

                >div{
                    width: 50%;
                }

                >div:nth-child(1){
                    border-right: 1px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >model-viewer{
                        width: 80%;
                        height: 80%;
                    }
                }
            }

            section:nth-child(2){
                display: flex;
                height: 735px;
                border-bottom: 1px solid black;

                >div{
                    width: 50%;
                }

                >div:nth-child(1){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid black;

                    >form{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        width: 504px;
                        height: 678px;
                        background-color: #FFFFFF;
                        border-top: 5px solid #FDD170;

                        >div:nth-child(1){
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: -50px;

                            >h3{
                                font-family: 'Manrope';
                                font-style: normal;
                                font-weight: bold;
                                font-size: 40px;
                                line-height: 68px;
                                text-align: center;
                                color: #191B1D;
                            }

                            >p{
                                font-family: 'Manrope';
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 24px;
                                display: flex;
                                align-items: flex-end;
                                text-align: center;
                                color: #191B1D;
                                margin-top: -35px;
                            }
                        }

                        >div:nth-child(2){
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            height: 40%;
                            width: 87%;
                                
                                >select{
                                    width: 100%;
                                    padding: 0 5px 5px 10px;
                                    border: none;
                                    border-bottom: 1px solid #F4F4F4;
                                    font-family: 'Manrope';
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;
                                    line-height: 32px;
                                    color: #191B1D;
                                }
                            
                            >input{
                                width: 100%;
                                height: 35px;
                                border: none;
                                border-bottom: 1px solid #F4F4F4;
                                font-family: 'Manrope';
                                font-style: normal;
                                font-weight: normal;
                                font-size: 20px;
                                line-height: 32px;
                                color: #191B1D;
                                padding: 0 5px 5px 10px;

                                &::placeholder{
                                    font-family: 'Manrope';
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;
                                    line-height: 32px;
                                    color: #191B1D;
                                    padding: 0 5px 5px 10px;
                                }
                            }

                            .phone-wrong{
                                border-bottom: 1px solid red;
                                color: red;
                                &::placeholder{
                                    color: red;
                                }
                            }
                        }
                        
                        .upload-file{
                            width: 90%;

                            >div{
                                display: flex;

                                .clip-img{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 55px;
                                    height: 55px;
                                    border: 1px solid #F4F4F4;
                                    box-sizing: border-box;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                    cursor: pointer;
                                }

                                >p{
                                    font-family: 'Manrope';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #191B1D;
                                }
                            }

                            #upload{
                                opacity: 0;
                                position: absolute;
                                z-index: -1;
                            }
                        }

                        .form-button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 288px;
                            height: 56px;
                            border-radius: 25px;
                            background-color: #FDD170;
                            border: none;
                            cursor: pointer;

                            >img{
                                order: 1;
                                margin-right: 5px;
                            }

                            >p{
                                order: 2;
                                font-family: 'Manrope';
                                font-style: normal;
                                font-weight: 800;
                                font-size: 14px;
                                line-height: 19px;
                                text-align: center;
                                text-transform: uppercase;
                                color: #191B1D;
                            }
                        }
                    }
                }

                >div:nth-child(2){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    >div{
                        display: flex;
                        width: 504px;
                        height: 678px;
                        background-color: #FFFFFF;

                        .tab-controllers{
                            width: 25%;
                            height: 90%;
                            margin: 20% 0 0 10%;

                            >div{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 88px;
                                height: 48px;
                                cursor: pointer;
                                position: relative;
                                
                                >a{
                                    font-family: 'Manrope';
                                    font-style: normal;
                                    font-weight: 800;
                                    font-size: 20px;
                                    line-height: 24px;
                                    color: #191B1D;
                                    opacity: 0.35;
                                    text-decoration: none;
                                    width: 100%;
                                    height: 100%;
                                    top: 25%;
                                    left: 45%;
                                    position: absolute;
                                }
                            }

                            .active-tab-link{
                                background-color: #F4F4F4;

                                >a{
                                    opacity: 1;
                                }
                            }
                        }

                        .tab-container{
                            display: none;
                            flex-direction: column;
                            margin: 20% 0 0 0%;
                            width: 56%;

                            .tabcontent{
                                
                                .tabcontent-header{

                                    >h3{
                                        position: relative;
                                        width: 272px;
                                        font-family: 'Manrope';
                                        font-style: normal;
                                        font-weight: bold;
                                        font-size: 16px;
                                        line-height: 16px;
                                        color: #191B1D;
                                        border-bottom: 1px solid #F4F4F4;;
                                        padding-bottom: 15px;
                                        cursor: pointer;

                                        &::after{
                                            position: absolute;
                                            content: url('/src/assets/images/arrow_down.png');
                                            top: -10px;
                                            left: 93%;
                                            
                                        }
                                    }

                                    >img{
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
                                
                                >p{
                                    font-family: 'Manrope';
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 13px;
                                    line-height: 16px;
                                    display: none;
                                    width: 65%;
                                }
                            } 

                            .active-tab{

                                .tabcontent-header{

                                    >h3{

                                        &::after{
                                            position: absolute;
                                            content: url('./src/assets/images/arrow_up.png');
                                            top: -10px;
                                            left: 96%;
                                        }
                                    }
                                }

                                .text-content{
                                    display: block;
                                }
                            }

                            &:target{
                                display: flex;
                            }
                        }

                        #second-tab-container{
                            display: none;
                        }
                    }  
                }
            }   
        }
    }
}